# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Project-specific
invoices/
archive/

# Environments
.env
.venv